@font-face {
  font-family: "iconfont"; /* Project id 4088676 */
  src: url('//at.alicdn.com/t/c/font_4088676_4oj7xgnk22b.woff2?t=1685084850307') format('woff2'),
       url('//at.alicdn.com/t/c/font_4088676_4oj7xgnk22b.woff?t=1685084850307') format('woff'),
       url('//at.alicdn.com/t/c/font_4088676_4oj7xgnk22b.ttf?t=1685084850307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e66a";
}

.icon-wechat:before {
  content: "\e6ca";
}

.icon-bilibili:before {
  content: "\e609";
}

