@font-face {
  font-family: "iconfont";
  /* Project id 4088676 */
  src: url('//at.alicdn.com/t/c/font_4088676_kl0suj1d88i.woff2?t=1693568237956') format('woff2'),
    url('//at.alicdn.com/t/c/font_4088676_kl0suj1d88i.woff?t=1693568237956') format('woff'),
    url('//at.alicdn.com/t/c/font_4088676_kl0suj1d88i.ttf?t=1693568237956') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e609";
}
